- if object.errors.present?
  .alert.alert-danger
    %h2
      This form contains #{pluralize(object.errors.count, "error")}.
    %ul
      - object.errors.full_messages.each do |msg|
        %li= msg
